@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



.wrapperp {
    display: grid;
    
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
    .wrapper {
        margin: 200px auto;
    }
}

.wrapperp .boxp {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.wrapperp .boxp .front-face {
    background: rgb(238, 124, 181);
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.boxp .front-face .icon {
    height: 320px;
}

.boxp .front-face .icon i {
    font-size: 65px;
}

.boxp .front-face span,
.boxp .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.boxp .front-face .icon i,
.boxp .front-face span {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boxp .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 350px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.boxp .back-face p {
    margin-top: 10px;
    text-align: justify;
}

.boxp:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.boxp:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}


.spslaptop{
    height: 320px;
    width: 400px;
}